<div *ngIf="!isLoaded">Loading...</div>
<div *ngIf="isLoaded">

  <mat-toolbar>Case {{caseRoot}}</mat-toolbar>
  <div class="contents">
    <br>
    <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">

      <mat-form-field style="width: 40%">
        <input matInput
               type="text"
               placeholder="Case variable"
               spellcheck="false"
               formControlName="xmlchange_key"
               [matAutocomplete]="autoCompsets"
               required
        >
        <mat-autocomplete class="high-autocomplete-panel" #autoCompsets="matAutocomplete">
          <mat-option class="small" *ngFor="let key of caseVarsOptions | async" [value]="key">
            {{key}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field style="width: 60%">
        <input matInput
               type="text"
               placeholder="Variable value"
               spellcheck="false"
               formControlName="xmlchange_value"
               required
        >
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit" [disabled]="!mainForm.valid">Change</button>
    </form>
  </div>

  <br>
  <mat-divider></mat-divider>
  <br>
  <div class="button-row">
    <button mat-raised-button (click)="runCommand('case.setup')">case.setup</button>
    <button mat-raised-button (click)="runCommand('case.build')">case.build</button>
    <button mat-raised-button (click)="runCommand('check_case')">check_case</button>
    <button mat-raised-button (click)="runCommand('check_input_data')">check_input_data</button>
    <button mat-raised-button (click)="runCommand('preview_namelists')">preview_namelists</button>
    <button mat-raised-button (click)="runCommand('preview_run')">preview_run</button>
    <button mat-raised-button (click)="runCommand('case.submit')">case.submit</button>
  </div>
  <div class="button-row">
    <button mat-raised-button (click)="submitWithCylc()">Submit with CYLC</button>
  </div>

  <br>
  <div class="mat-h2">Case variables:</div>
  <div class="contents pre-wrap">{{caseDescription}}</div>
</div>
