<h1 mat-dialog-title *ngIf="header">
  <code>{{ header }}</code>
</h1>
<div mat-dialog-content>
  <div *ngFor="let item of texts">
    <div *ngIf="item.keepHtml" [innerHTML]="item.text | keepHtml" [ngClass]="item.classes"></div>
    <div *ngIf="!item.keepHtml" [ngClass]="item.classes">{{ item.text }}</div>
  </div>
</div>
<div *ngIf="buttons.length > 0">
  <br />
  <span *ngFor="let btn of buttons">
    <button mat-raised-button [mat-dialog-close]="btn.id">{{ btn.label }}</button>
  </span>
</div>
