.pre-wrap {
  white-space: pre-wrap;
}

.monospace {
  font-family: monospace;
}

.error {
  color: red;
}

.h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
