<h1 mat-dialog-title>Copy case</h1>
<div mat-dialog-content>
  <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">
    <mat-form-field style="width: 100%">
      <mat-label>Enter a name or a path for the copy of the case</mat-label>
      <input matInput formControlName="{{ PATH_KEY }}" type="text" spellcheck="false" autocomplete="off" required />
      <mat-error *ngIf="mainForm.get(PATH_KEY).hasError('invalidName')">
        {{ mainForm.get(PATH_KEY).getError('invalidName') }}
      </mat-error>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!mainForm.valid">Copy</button>
      <span class="spacer-max"></span>
      <button mat-raised-button type="button" (click)="this.close()">Cancel</button>
    </div>
  </form>
  <br />
</div>
