.mat-row:hover {
  background-color: #33333310;
  cursor: pointer;
}

.mat-cell {
  white-space: nowrap;
  width: 10%;
  padding-right: 1rem;
  font-family: monospace;
}

.loading-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
