<div *ngIf="!isLoaded">Loading...</div>
<div *ngIf="isLoaded">

  <mat-card *ngIf="!(userService.isLogged() | async); else loading" style="width: 300px; margin: 50px auto;">
    <mat-card-title>Please log in</mat-card-title>
    <mat-card-content>
      <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">

        <div>
          <mat-form-field style="width: 100%">
            <mat-label>Server</mat-label>
            <mat-select formControlName="host">
              <mat-option *ngFor="let opt of hosts" [value]="opt">{{opt}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field style="width: 100%">
            <input matInput type="text" placeholder="Username" formControlName="username">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field style="width: 100%">
            <input matInput type="password" placeholder="Password" formControlName="password">
          </mat-form-field>
        </div>

        <div style="display: flex;">
          <button mat-raised-button type="submit" [disabled]="!mainForm.valid">Login</button>
          <span class="spacer-max"></span>
          <button mat-button type="button" (click)="displayHelp()">Help</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <ng-template #loading>
    <mat-card style="width: 300px; margin: 50px auto;">
      <mat-card-title>You are logged as <b>{{userService.userConfig.username}}</b></mat-card-title>
      <mat-card-content>
          <button mat-raised-button (click)="logout()">Logout</button>
      </mat-card-content>
    </mat-card>
  </ng-template>

</div>
