<mat-toolbar color="primary">
  PrepCASE
  <span class="spacer-max"></span>
  <div *ngIf="userService.isLogged()">
    You are logged in as <i>{{userService.userConfig.username}}@{{userService.userConfig.hostname}}</i>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <button mat-raised-button routerLink="/case-list">Your cases</button>
    <span class="spacer"></span>
    <button mat-raised-button routerLink="/create-newcase">Create new case</button>
  </div>
</mat-toolbar>

<div class="contents">
  <router-outlet></router-outlet>
</div>
