

<div [ngSwitch]="item.controlType" [formGroup]="form">

  <mat-form-field *ngSwitchCase="'text'" style="width: 100%">
    <input matInput
           [type]="item.type"
           [placeholder]="item.label"
           [formControlName]="item.key"
    >
    <button *ngIf="item.help" type="button" mat-button matSuffix mat-icon-button aria-label="Help" tabindex="-1"
            (click)="openDialog('ninst'); $event.stopPropagation()">
      <mat-icon>help_outline</mat-icon>
    </button>
    <mat-error *ngIf="form.get(item.key).hasError('pattern')">
      Required positive integer
    </mat-error>
  </mat-form-field>

  <span *ngSwitchCase="'checkbox'" style="float: left; margin-right: 50px;">
    <mat-checkbox
                  [labelPosition]="'after'"
                  [formControlName]="item.key"
                  [checked]="item.value"
    >{{item.label}}</mat-checkbox>
    <button *ngIf="item.help" type="button" mat-button matSuffix mat-icon-button aria-label="Help" tabindex="-1"
            (click)="openDialog('ninst'); $event.stopPropagation()">
      <mat-icon style="transform: scale(0.7);">help_outline</mat-icon>
    </button>
  </span>

  <mat-form-field *ngSwitchCase="'dropdown'" style="width: 100%">
    <mat-label>{{item.label}}</mat-label>
    <mat-select [value]="item.value" [formControlName]="item.key">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let opt of item.options" [value]="opt.key">{{opt.value}}</mat-option>
    </mat-select>
  </mat-form-field>

</div>
