<div *ngIf="!isLoaded">Loading...</div>
<div *ngIf="isLoaded">
  <mat-toolbar> Your suites </mat-toolbar>

  <!-- list of suites per dir -->
  <div *ngFor="let group of userSuites | keyvalue">
    <h2 class="suite-dir">{{ group.key }}</h2>
    <div class="suites">
      <div *ngIf="!group.value.length">No suites</div>
      <div class="mat-body-strong" *ngFor="let dir of group.value">
        <button mat-button color="primary" [routerLink]="['/suite', dir.fullPath]" title="Go to suite">
          {{ dir.dirName }}
        </button>
        <br />
      </div>
    </div>
  </div>
</div>
