/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.high-autocomplete-panel {
  max-height: 500px !important;
}

.mat-option.small {
  max-height: 24px;
}

.mat-simple-snackbar {
  white-space: pre;
}
