<mat-toolbar>Create new case</mat-toolbar>
<div class="contents">
  <h1 class="mat-h4">Set parameters for CIME script <code>create_newcase</code></h1>

  <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">

    <!-- CASENAME -->

    <mat-form-field style="width: 100%">
      <input matInput
             type="text"
             placeholder="Case name"
             formControlName="case"
             required
      >
      <button type="button" mat-button matSuffix mat-icon-button aria-label="Help" tabindex="-1" (click)="openDialog('case')">
        <mat-icon>help_outline</mat-icon>
      </button>
      <mat-error *ngIf="mainForm.get('case').hasError('required')">
        Case name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- COMPSET -->

    <mat-form-field style="width: 100%">
      <input matInput
             type="text"
             placeholder="Select compset"
             formControlName="compset"
             [matAutocomplete]="autoCompsets"
             required
      >
      <mat-error *ngIf="mainForm.get('compset').hasError('compsetInvalid') && !mainForm.get('compset').hasError('required')">
        Compset name is invalid
      </mat-error>
      <mat-error *ngIf="mainForm.get('compset').hasError('required')">
        Compset is <strong>required</strong>
      </mat-error>

      <mat-autocomplete class="high-autocomplete-panel" #autoCompsets="matAutocomplete">
        <mat-optgroup *ngFor="let group of compsetsGroupsOptions | async" [label]="group.type">
          <mat-option class="small" *ngFor="let compset of group.items" [value]="compset.name">
            <div class="mat-small"><div class="compset-short-name">{{compset.name}}</div> {{compset.longName}}</div>
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>

    <!-- NINST -->

    <mat-form-field style="width: 100%">
      <input matInput
             type="text"
             placeholder="Number of instances (--ninst)"
             formControlName="ninst"
      >
      <button type="button" mat-button matSuffix mat-icon-button aria-label="Help" tabindex="-1" (click)="openDialog('ninst')">
        <mat-icon>help_outline</mat-icon>
      </button>
      <mat-error *ngIf="mainForm.get('ninst').hasError('pattern')">
        Required positive integer
      </mat-error>
    </mat-form-field>

    <!-- MULTI-DRIVER -->

    <mat-checkbox
      formControlName="multi-driver"
      [labelPosition]="'after'"
      >
      Multi driver?
    </mat-checkbox>
    <button type="button" mat-button matSuffix mat-icon-button aria-label="Help" tabindex="-1" (click)="openDialog('multi-driver')">
      <mat-icon>help_outline</mat-icon>
    </button>

    <br><br>

    <button mat-flat-button color="primary" type="submit" [disabled]="!mainForm.valid">Create new case</button>

    <br><br>
    <mat-toolbar *ngIf="submittedCommand" color="accent">{{submittedCommand}}</mat-toolbar>

  </form>

</div>
