.contents {
  padding: 16px;
}

.compset-short-name {
  display: inline-block;
  width: 200px;
}

.grid-short-name {
  display: inline-block;
  width: 300px;
}
.grid-compset {
  display: inline-block;
  width: 200px;
  color: green;
}
.grid-not-compset {
  display: inline-block;
  width: 200px;
  color: red;
}
